@charset "utf-8";
// --- converter --------------------------------------------------------------------
$font-default : 15.008px;
@function calcRem($size) {
    $tmp: ();
    @if(length($size) > 1){
        @for $i from 1 through length($size){
            $item: nth($size, $i);
            $item-holder:null;
            @if( type_of($item) == number and $item != 0){
                $remSize: $item / $font-default;
                $item-holder: #{$remSize}rem;
            }@else{
                $item-holder: $item;
            }
            $tmp:append($tmp, $item-holder, space);
        }
    }@else{
        $remSize: $size / $font-default;
        $tmp:(#{$remSize}rem);
    }
    //@debug $tmp;
    @return $tmp;
}


// px to vw for mobile
$vw-viewport: 400;               // mobile psd size
$vw-pc-viewport: 1440;           // PC contents psd size
$vw-pc-wide-viewport: 1920;      // PC keyvisual banner psd size

@function calcVw($size) {
    $vw-context: $vw-viewport * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
}
@function calcVwPC($size) {
    $vw-context: $vw-pc-viewport * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
}
@function calcVwWidePC($size) {
    $vw-context: $vw-pc-wide-viewport * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
}


// --- hdpi --------------------------------------------------------------------
@mixin hdpi($ratio: 1.3) {
    @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
    only screen and (min-resolution: #{round($ratio*96)}dpi) {
        @content;
    }
}

// --- 1px line for high resolution --------------------------------------------------------------------
@mixin hdLine($property){
    @include hdpi(1.5){
        #{$property}: $number-4k-1px;
    }
    @include hdpi(2){
        #{$property}: $border-width;
    }
}


// --- scroll Style -------------------------------------------------------------------
@mixin scroll(){
    &::-webkit-scrollbar{
        width: 12px;
        height: 12px;
        background: transparent;
    }

    &::-webkit-scrollbar-track{
        margin: 7px 0;
        background:transparent;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 12px;
        border: 4px solid rgba(255,255,255,0);
        background-clip: content-box;
        background-color: $gray-100;

        &:active{
            background-color: $gray-300;
        }
    }

}

// --- Header hover anim -------------------------------------------------------------------

@mixin header-hover-anim() {
    &:after{
        display: block;
        position: relative; top:4px;
        width:0;
        height:1px;
        background: $gray-400;
        content:'';
        transition: width 0.15s ease-in-out;

        @include hdLine(height);
    }
}

