.sdp-header{
    position: relative;
    height: $header-height;
    z-index: 1039;
	line-height: 1.625;


	*{box-sizing: border-box;}
	ul{margin-left: 0;}

    .inner-wrap{

    }

    .bg-header{
        height:100%;
        background: white;
    }

    .navbar-wrap{
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        background-color: rgba(255, 255, 255, 0.85);
        // background-color: white;
        transition: color 0.15s ease-in-out;

        min-width:350px;

        border-bottom-style: solid;
        border-bottom-color: rgba(38, 38, 38, 0.15);
        border-bottom-width: 1px;
        &:hover{
            transition: background-color 0.7s;
            // backdrop-filter: blur(0);
            // -webkit-backdrop-filter: blur(0);
            background-color: white;
            .bg-header {
                // transition: height 0.2s;
                height: 100%;
            }
        }

        .bg-header {
            height: auto;


        }
        .bg-header-cover{
            position: absolute; left:0; right:0; top:0;
            z-index: 2;
            // border-bottom: 1px solid #262626;
        }
    }

    .navbar{

        .sdp-logo{
            position: relative; z-index: 2;
            display: flex;

            .link-logo{
                display: block;
                span{
                    display: block;
                    margin:10px 0;

                }
            }
        }


        .navbar-collapse{
            .navbar-nav{
                .nav-item{

                }
            }
        }

        .main-nav{
            .navbar-nav{
                .nav-item{
                    .toggle-submenu{
                        display: none;
                    }
                    &.nav-item-search {
                        .btn-global-search {
                            @include header-hover-anim()
                        }
                    }

                    .nav-link{
                        font-size: 16px;
                        transition: color 0.15s ease-in-out;
                        & > span {
                            display: inline-block;

                            @include header-hover-anim()
                            // &:after{
                            //     display: block;
                            //     position: relative; top:4px;
                            //     width:0;
                            //     height:1px;
                            //     background: $gray-400;
                            //     content:'';
                            //     transition: width 0.15s ease-in-out;

                            //     @include hdLine(height);
                            // }
                        }
                        &.nav-arrow {
                            &:after{
                                display: inline-block;
                                content: '';
                                width: 8px;
                                height: 8px;
                                border-top: none;
                                border-left: none;
                                border-bottom: 1px solid $gray-400;
                                border-right: 1px solid $gray-400;
                                vertical-align: 0.1em;
                                transform: rotate(-45deg);
                                transition: rotate 0.15s ease-in-out;
                            }
                        }
                    }
                }
            }

            .navbar-depth1{
                justify-content: center;
                width: 100%;

                & > .nav-item{
                    position: relative;
                    white-space: nowrap;
                }

                .depth1-link{
                    position: relative;
                    color: #363636;

                    &.active,
                    &:hover{
                        font-family: $fonts-bold;
                        letter-spacing: -0.1px;
                    }
                }
            }

            .navbar-depth2-wrap{
                .navbar-depth2{
                    .depth2-link{
                        display: inline-block;
                        color:$gray-400;
                        line-height: 1.2;

                        & > span{
                            display: inline-block;
                            & > span{
                                //display: inline-block;
                            }
                            &:after{
                                display: block;
                                position: relative; top:4px;
                                width:0;
                                height:1px;
                                background: $gray-400;
                                content:'';
                                transition: width 0.15s ease-in-out;

                                @include hdLine(height);
                            }
                        }

                        //&.active{
                        //    & > span{
                        //        &:after{
                        //            width: 100%;
                        //        }
                        //    }
                        //}
                    }
                }
            }

            &.gnb{
                width:100%;
            }
        }



        .btn-global-search{
            width: 38px; height: 38px;
            padding:6px;
            .i-box{
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;

                .s-ico{
                    position: absolute;
                    left: 0; top:0;
                    transition: transform 0.15s ease-in-out;
                    transform: scale(1.0);
                    //opacity: 1;
                }
                .icon-close{
                    width:24px; height: 24px;
                    transition: transform 0.15s ease-in-out;
                    transform: scale(0.0);
                }
            }

			&:active{border-bottom: 0;}

            &:after{
                display: none;
            }

            &.is-mobile{
                display: none;
            }

            &.active{
                .i-box{
                    .s-ico{
                        transform: scale(0.0);
                        //opacity: 0;
                    }
                    .icon-close{
                        transform: scale(1.0);
                        //opacity: 1;
                    }
                }

            }
        }
    }


    @include media-breakpoint-down(md){
        .navbar{
            padding:0;
            .sdp-logo{
                display: flex;
                width:100%;
                height:$header-height;
                padding: 0 64px;
                // TODO

                .link-logo{
                    display: flex;
                    align-items: center;
                    span{
                        width:210px; height:34px;
                    }
                }
            }

            .toggle-mobile-menu{
                position: absolute;
                height:100%;
                top:0;
                left: 24px;
                // right:22px;
                //top:12px;
                z-index: 100;
                padding:0;
                //background: pink;

                .icon-box{
                    position: relative;
                    display: flex;
                    justify-content:center;
                    flex-direction: column;
                    width: 20px; height: 16px;
                    margin: 10px;
                    &:before, &:after, i{
                        display: block;
                        position: absolute;
                        width:100%; height:2px;
                        background: #363636;
                        border-radius:1px;
                        content: '';
                        transition: transform 0.2s ease-in-out;
                    }
                    &:before{
                        left:0;
                        top:0;
                    }
                    &:after{
                        left:0;
                        bottom:0;
                    }

                    i{
                        top: 7px;
                    }
                }

                &.active{
                    .icon-box{
                        &:before{
                            top:50%;
                            transform: rotate(45deg) scale(1.1);
                        }
                        &:after{
                            top:50%;
                            transform: rotate(-45deg) scale(1.1);
                        }
                        i{
                            transform: scale(0);
                        }
                    }
                }
            }

            .btn-global-search{
                display: none;

                &.is-mobile{
                    display:block;
                    position:absolute;
                    height:100%;
                    top:0; right:24px;
                    //top:12px;
                    z-index: 2;
                }
            }

            .navbar-collapse{
                display: none !important;
                position: absolute;
                left:0; right:0; top:0;
                z-index: 1;
                height:100vh;
                padding-bottom: 100px;
                overflow: hidden;
                background: white;
                transform:translateY(-100%);

                // common gnb style
                .main-nav{
                    .navbar-depth1{
                        flex-direction: column;

                        .toggle-submenu{
                            display: block;
                            position: absolute; right:0; top:0;
                            z-index: 1;
                            //width:72px;
                            height: 56px;
                            background: transparent;
                            width: 50%;
                            border:0;

                            &.none-child{
                                display: none;
                            }

                            &:focus{
                                outline: none;
                            }

                            &:not(.none-child){
                                &:after{
                                    display: block;
                                    position: absolute;
                                    content: '';
                                    width: 6px;
                                    height: 6px;
                                    top: 50%;
                                    right: 32px;
                                    margin-top: -5px;
                                    border-top: none;
                                    border-left: none;
                                    border-bottom: 2px solid #363636;
                                    border-right: 2px solid #363636;
                                    vertical-align: 0.255em;
                                    transform: rotate(45deg);
                                    transition: rotate 0.15s ease-in-out;
                                }
                                &.show{
                                    &:after{
                                        border-bottom-color: #363636;
                                        border-right-color: #363636;
                                        transform: rotate(-135deg);
                                    }
                                }
                            }
                        }
                        .depth1-link{
                            display: flex;
                            align-items: center;
                            height: 56px;
                            padding: 0 32px;
                            font-family: $fonts-bold;

                            border-top:1px solid rgba(38, 38, 38, 0.15);
                        }
                    }

                    .navbar-depth2-wrap{
                        // background-color: #f7f7f7;
                        height:0;
                        overflow: hidden;
                        transition: top 0.3s ease-in-out;

                        .navbar-depth2{
                            display: flex;
                            flex-direction: column;
                            // flex-wrap: wrap;
                            margin-top: 0;//-10px;
                            padding: 0 23px 0 23px;
                            transition: margin-top 0.15s ease-in-out;

                            .nav-item{
                                width:50%;
                            }

                            .depth2-link{
                                display: block;
                                padding: 20px 0 20px 10px;
                            }
                            .depth2-header{
                                font-family:$fonts-bold;
                                &:after{
                                    display: inline-block;
                                    content: '';
                                    width: 8px;
                                    height: 8px;
                                    border-top: none;
                                    border-left: none;
                                    border-bottom: 2px solid #363636;
                                    border-right: 2px solid #363636;
                                    vertical-align: 0.1em;
                                    transform: rotate(-45deg);
                                    transition: rotate 0.15s ease-in-out;
                                }
                                &.no-link:hover{
                                        // font-family:$fonts-bold;
                                    color: $cyan !important;
                                }
                            }

                            .depth2-clindren {
                                padding-left: 26px;
                            }
                        }

                        // TODO
                    }

                    &.gnb{
                        padding-top: $header-height;
                    }

                    &.common-menu{
                        // border-top: 1px solid $gray-400;
                        & > .navbar-nav{
                            .nav-item-search{
                                display: none;
                            }
                        }
                    }
                }



                // navbar-collapse  ==> show
                &.show{
                    display: block !important;
                    transform: translateY(0);
                    animation : move-to-down 0.4s $ease-out-cubic;
                }
                &.hide{
                    transform: translateY(-100%);
                    animation : move-to-up 0.2s $ease-in-cubic;
                }
            }
        }
    }
    @include media-breakpoint-up(lg){
        .bg-header{
            &-block{
                position: relative;
                top: 0;
                transition: margin-top 0.35s ease-in-out;

                &.hide{
                    margin-top: -1 * $header-height;
                }
            }
        }

        .navbar-wrap{
            opacity: 1;

            &.hide{
                top: -1 * $header-height;
                opacity: 0;
            }
        }

        .navbar{
            height: $header-height;
            padding:0 40px 0 30px;
            //max-width: $max-content-width;
            //margin: 0 auto;

            .sdp-logo{
                align-items: center;
                .link-logo{
                    span{
                        margin-top: 8px;
                        width:210px; height:34px;
                    }
                }
            }

            .toggle-mobile-menu{
                display: none;
            }
            .navbar-collapse{
                display: flex !important;
                justify-content: space-between;
            }

            .main-nav{
                .navbar-depth1{
                    padding: 9px 0 0;



                    .depth1-link{
                        z-index: 2;
                        //padding: 10px 20px 21px;
                        padding: 10px 10px 21px;

                        &.show + .navbar-depth2-wrap{
                            top: 64px !important;
                            visibility: visible;
                            opacity: 1;
                            transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
                        }
                        &.active {
                            & > span {
                                &:after {
                                    transition: none;
                                    width: 100%;
                                }
                            }
                        }
                        &:hover {
                            & > span {
                                &:after {
                                    // width: 100%;
                                }
                            }
                        }
                    }
                    & > .nav-item-search{
                        &:hover, &.active {
                            .btn-global-search{
                                &:after {
                                    // disable hover effect
                                    // width: 100% !important;
                                }
                            }
                        }
                    }

                    .navbar-depth2-wrap{
                        position: fixed;
                        left: 250px;
                        right: 250px;
                        top: 0;
                        background: #fff;
                        border:1px solid rgba(38, 38, 38, 0.15);
                        visibility: hidden;
                        opacity: 1;
                        z-index: 1;
                        //transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
                        transition: top 0.3s ease-out;

                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        .navbar-depth2{
                            // position: absolute; left:0; top:0;
                            padding:22px 0 32px;
                            flex-wrap: wrap;
                            flex-direction: column;

                            .nav-item{
                                .nav-link{
                                    padding: 10px;
                                }
                            }

                            .depth2-link{
                                &:hover, &.active{
                                    & > span{
                                        color: $indigo;
                                    }
                                    &.nav-arrow {
                                        &:after{
                                            border-color: $indigo;
                                        }
                                    }
                                }
                            }
                        }

                        .depth2-header{
                            font-family:$fonts-bold;
                            &:not(.no-link){
                                // &:after{
                                //     display: inline-block;
                                //     content: '';
                                //     width: 8px;
                                //     height: 8px;
                                //     border-top: none;
                                //     border-left: none;
                                //     border-bottom: 2px solid $gray-400;
                                //     border-right: 2px solid $gray-400;
                                //     vertical-align: 0.1em;
                                //     transform: rotate(-45deg);
                                //     transition: rotate 0.15s ease-in-out;
                                // }
                            }
                            &.no-link{
                                color:inherit;
                                pointer-events: none;
                                color: $gray-400;
                            }
                            &:hover, &.active{
                                & > span {
                                    color: $gray-400 !important;
                                    text-decoration: underline;
                                }
                            }
                        }

                        .navbar-depth2-row{
                            flex-direction: row !important;
                            justify-content: center;
                        }

                        @media screen and (min-width: $desktopWidth) {
                            left: 260px;
                            right: 260px;
                        }
                    }
                }

                &.gnb{
                    display: flex;
                    //justify-content: center;
                    // padding-left: 2.47%;
                    width: 100%;
                    //padding-right: 1%;

                    .navbar-depth1 {
                        & > .nav-item {
                            margin: 0 0.4vw;
                            .depth1-link{
                                padding-left: 1.6vw;
                                padding-right: 1.6vw;
                            }
                        }
                    }


                    .navbar-depth2-wrap {
                        .navbar-depth2{
                            // display: grid;
                            // grid-auto-flow: column;
                            // grid-template-rows: repeat(5, 1fr);
                            min-width: 200px;
                            // height: 256px;


                            .nav-item{
                                //width:224px;
                                padding-left: 0.6vw;
                                padding-right: 0.6vw;

                                .nav-link{
                                    white-space: nowrap;
                                    padding-left: 1vw;
                                    padding-right: 1vw;
                                }
                            }

                            &.sm-col-1{
                                //width: 224px;
                                display: block;
                                height:auto;
                            }
                            &.sm-col-2{
                                //width:448px;
                                //grid-template-columns: 1fr 1fr;
                            }
                            &.sm-col-3{
                                //width:672px;
                            }
                        }
                    }

                    &.hide{
                        visibility: hidden;
                    }

                }

                &.common-menu{
                    //flex:1 0 auto;
                    & > .navbar-nav{
						margin-left: 0;
                        margin-right: -10px;
						padding-top: 0;

                        .nav-item-dashboard{
                            .navbar-depth2-wrap{
                                // left: -14px;
                                left: auto !important;
                                width: 140px;
                                right: 16px;

                                .nav-item{
                                    padding: 0 14px;
                                    .nav-link{

                                    }
                                }
                            }
                        }

                        .nav-item-search{
                            .btn-global-search{
                                position: relative;
                                top: 0;
                                z-index: 2;

                                .s-ico{
                                    //transform: scale(1) !important;
                                }

                                .icon-close{
                                    display: none;
                                }
                            }
                        }

						#sdp-signin-link a{padding: 7px 10px;}
                    }
                }
            }
        }
    }

	.btn, .discourse-no-touch & .btn{background: transparent;
		&:active{border-bottom-color: transparent;}
		.btn:hover, .btn.btn-hover{background: transparent;}
	}

}
