@import "common/foundation/variables";
@import "breakpoints";
@import "functions";
@import "globalvars";
@import "easing";
@import "header";
@import "footer";

/**********************************************************
 * VENDORS START
 **********************************************************/
dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
    margin-top: 0;
}
.sdp-footer ul{margin-left: 0;}

/**********************************************************
 * DEFAULTS START
 **********************************************************/
@font-face {
	font-family: SamsungOne400;
	src: url($SamsungOne-400) format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: SamsungOne700;
	src: url($SamsungOne-700) format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: SamsungSharpSans-Bold;
	src: url($SamsungSharpSans-Bold-woff2) format("woff2"), url($SamsungSharpSans-Bold-woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: SamsungSharpSans-Medium;
	src: url($SamsungSharpSans-Medium-woff2) format("woff2"), url($SamsungSharpSans-Medium-woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

body {
  font-family: SamsungOne400, "Malgun Gothic", "맑은 고딕", "Microsoft Yahei", 微软雅黑, STXihei, "华文细黑", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "MS PGothic", "Apple SD Gothic Neo", "Apple SD 고딕 Neo", "AppleGothic", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, arial, Helvetica, sans-serif; }

// EHC - 2020-01-21
.about-page .about.admins {
    display: none;
}

.about-page .about.moderators {
    display: none;
}
// END EHC

a:link, a:visited, a:active {
  text-decoration: none; }

a:hover {
  color: #1428A0; }

.d-header { background-color: #ffffff;}
.ember-application .d-header {top:64px; height:36px; position:fixed; background-color: #fff;
    .title {padding: 0 0; margin-right: 10px; border-bottom: 2px solid #363636;
        a{font-size: 16px; font-weight: bold;
            &:link, &:visited { color: #363636; }
            &:hover, &:focus, &:active{ color: #1428A0;}
            &+a{display:none;}
        }
    }
    .extra-info-wrapper{font-size: 0.7em;}
    &>.wrap{width:100%; max-width:none; padding: 0 30px 0 40px;}
    &-icons .icon{width: 2em; height: 2em; padding: 0.15em 0.25em;}
    .d-header-icons .badge-notification{top: 0;}
    .header-buttons{margin-top: 0;}
}
.banner-box{margin-top: 36px !important;}

@media (max-width: 1123.98px){
	.ember-application .d-header>.wrap{padding: 0 25px 0 35px;}
}

.mobile-view .ember-application .d-header>.wrap{padding: 0 24px 0 32px;}

#sdp-signin-link{display:none;}

.anon{
    #sdp-signin-link{display:block;}
}

.list-vote-count{ padding: 0.25em 0.5em; color: #fff; background: #0077C8;
    &:hover{color:#fff;}
}

.s-ico {
  display: inherit;
  width: 100%;
  height: 100%; }
.s-ico:not(svg):before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center; }
.s-ico-logo:before {
    background-image: url($logo_developers_2021); }
.s-ico-logo-w:before {
    background-image: url($logo_developers_2021); }
.s-ico-schzoom:before {
    background-image: url($icon_search_zoom); }
.s-ico-schzoom-black:before {
    background-image: url($icon_search_zoom_black); }
.s-ico-buzzsprout:before {
    background-image: url($icon_buzzsprout); }
.icon-close {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem; }
  .icon-close:before {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url($icon_close);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    content: ''; }



@keyframes backdrop-fadein {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 0.7; } }

@keyframes backdrop-fadeout {
  0% {
    opacity: 0.7; }
  100% {
    opacity: 0.0; } }

@keyframes move-to-down {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

@keyframes move-to-up {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100%); } }

/**********************************************************
 * BOOTSTRAP START
 **********************************************************/

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  &-link{display:block;}
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar > .container,
.navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

.navbar-expand {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

// EHC resize the category logo to something smaller.
.category-logo.aspect-image {
  --max-height: 72px;
  --max-width: 72px;
}

// EHC vertically center the category title next to the icon.
.vertical-center {
  padding: 5px;
  resize: vertical;
  overflow: auto;
}

// EHC Get rid of white bar between GNB and banner
#main-outlet {
    padding-top: 4.3572em;
}

// EHC Make front page header text centered and line breaks.
.banner-box .section-header .description p {
    margin: auto !important;
    max-width: 65ch;
}
